:root{
    --primary-color:rgb(143, 226, 254);
}
#title{
    background: var(--primary-color);
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}
body{
    background: grey;
}
#search-bar{
    text-align: center;
    border: solid black 1px;
    padding: 10px;
}
input{
    background: black;
    color: white;
}
button{
    background: black;
    color: white;
}
ul{
    text-align: left;
}
li{
    list-style: none;
}
#day-cast{
    background:rgb(35, 34, 34);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width:500px;
}

#card{
    background: var(--primary-color);
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}